<section class="cmp-hero"
         data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
         data-sly-use.model="com.spring2022v35.core.models.HeroModel">
    <div class="container">
        <!--<div class="d-flex flex-column justify-content-center cmp-hero__content" style="background-image: url(/apps/spring2022v35/clientlibs/clientlib-site/resources/images/hero.png);">-->
            <div class="d-flex flex-column justify-content-center cmp-hero__content" style="background-image: url(/apps/spring2022v35/clientlibs/clientlib-site/resources/images/${model.image @ context='uri'});">
               <p class="fw-bold cmp-hero__subtitle">${model.subtitle}</p>
            <h1 class="fw-bold cmp-hero__heading">${model.heading}</h1>
            <p class="cmp-hero__text">${model.text}</p>
        </div>
    </div>
</section>

<sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent}"></sly>

